# Sécurité supplémentaire : ignore tout dossier data/ où qu'il apparaisse
**/data/raw/
**/data/curated/

# Données brutes et intermédiaires (trop volumineuses pour Git)
data/raw/**/*.csv
data/raw/**/*.txt
data/raw/**/*.zip
data/raw/**/*.json
data/curated/**/*.csv
data/curated/**/*.parquet

# On garde les dossiers vides grâce aux .gitkeep (ne pas les ignorer)
!**/.gitkeep

# Logs et cache Python
src/logs/
**/__pycache__/
*.log

docs/SUIVI_PROJET.xlsx